* {
    margin: 0;
    padding: 0;
	border: 0;
	outline: 0;
	font-family: arial;

}
header {
	position: fixed;
	width: 100%;
	z-index: 10;
}
html {
	/*background-color: rgba(211,229,241,1);*/
	background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1px) and (max-width: 1024px) {
	.mainContainer {
		height: 100%;
	}
}


.mainContainer{
	padding: 60px 0 0 0;
	display: flex;
	justify-content: center;
}

.mainCenter{
	width: 50%;
    /*background-color: blue;*/
    margin: 0 150px 0 0;
}

.imgPosition {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*background-color: green;*/
}

.imgPos {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin: 15px;
	cursor: pointer;
}
.imgPos:hover:after {
	content: "";
	justify-content: flex-start;
	position: absolute;
	width: 130px;
	height: 130px;
	background-color: black;
	opacity: 0.5;
}

.imgPos img {
	height: 130px;
	width: 130px;
	/*margin: 5px 20px 0 20px;*/
	
}

.imgPos span {
	background-color: rgba(62, 111, 107, 1);
    width: 125px;
    color: white;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0 5px 5px;
    
}

.mainRight{
	display: flex;
	width: 250px;
	flex-direction: column;
	/*background-color: yellow;*/
	justify-content: space-between;
    height: 90vh;
}

.sdf{
	display: flex;
    height: 40px;
    border-bottom: 1px solid grey;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    cursor: default;
}

.divBlockMargin{
	margin: 0 0 30px 0;
}

/*----------------------------mainRight---------------*/

.blockGame{
	position: fixed;
    height: 200px;
    width: 250px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 6px solid #c4feff;
    cursor: default;
	color: white;
	font-size: 23px;
	text-align: center;
}

#blockGameButton {
	width: 200px;
    height: 50px;
    background: #07ff9f;
    color: white;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
}
@-webkit-keyframes blockGameButton {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
@keyframes blockGameButton {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
#blockGameButton:hover {
  -webkit-animation: blockGameButton 0.6s ease;
  animation: blockGameButton 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

.hotArtist{
	position: fixed;
    top: 400px;
    width: 250px;
    background-color: #3e6f6b;
    /* border: 3px solid black; */
    color: white;	
}

.hotArtistImgPos{
	display: flex;
	flex-direction: column;
	margin: 5px;
}
.hotArtistImgPosition{
	display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    flex-wrap: wrap;
}

.hotArtistImgPos img{
	height: 70px;
    width: 70px;
}

.hotArtistImgPos span{
	background-color: rgba(0, 0, 0, 0.5);
    width: 68px;
    color: white;
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0 0 2px;
}

.hotArtistSdf{
	display: flex;
    justify-content: space-between;
    padding: 7px;
    cursor: default;
    align-items: center;
}

.more {
	font-size: 14px;
	color: grey;
	cursor: pointer;
}

.moreArt{
	font-size: 12px;
	color: white;
	cursor: pointer;
}

/*Окно ввода данных пользователя*/
#blackpanel {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow: auto;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}
#winLogIn {
	display: none;
	position: absolute;
	width: 350px;
	height: 450px;
	background-color: #F3F3F3;
	border-radius: 5px;
}
#winRegistration {
	display: none;
	position: absolute;
	width: 350px;
	height: 450px;
	background-color: #F3F3F3;
	border-radius: 5px;
}
.closeBlock {
	display: flex;
	justify-content: flex-end;
	/*background-color: green;*/
	margin: auto;
}

.closeBlock1 {
	display: flex;
	justify-content: flex-end;
	/*background-color: green;*/
	margin: -40;
}

.close {
	width: 40px;
	height: 40px;
	background-image: url("../images/close.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white; 
	border-radius: 4px;
	cursor: pointer;
}
.close:hover {
	background-color: grey;
}
.forms {
	margin-left: 40px;
}
#winLogIn legend {
	margin-bottom: 20px;
	font-size: 30px;
}
#winRegistration legend {
	font-size: 30px;
}
.legendSpan {
	font-size: 15px;
}
.form-group {
	margin-top: 15px;
}
.form-group label {
	font-size: 24px;
}
.form-group input {
	font-size: 20px;
	margin-top: 10px;
	padding: 10px 15px;
	border-radius: 5px;
	border-top: 1px solid #AFAFAF;
	border-right: 0.5px solid #AFAFAF;
}
.form-group input:focus {
	background-color: #DFE9EB;
}
.buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 114px;
	margin-top: 15px;
	border-top: 1px solid #AFAFAF;
	background-color: #D4DEDF;
	border-radius: 0 0 5px 5px;
}
.btn {
	height: 50px;
	padding: 4px 15px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #55C2E1;
	color: white;
}
#regButton {
	font-size: 20px;
	cursor: pointer;
}
#regButton:hover {
	color: #55C2E1;;
}
#shop {
	display: none;
	width: 500px;
	height: 500px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-color: #F3F3F3;
	border-radius: 5px;
}
.bonusValueBlock {
	width: 100%;
	height: 152px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#bonusValue {
	display: inline-block;
	vertical-align: top;
	line-height: 150px;
	text-align: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #3DB39E;
	font-size: 20px;
}
#buy {
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.shopTableBlock {
	display: flex;
	justify-content: center;
	width: 100%;
}
.shopTable {
	margin-top: 20px;
	border-collapse: collapse;
}
.shopTable td {
	border: 1px solid grey;
}
.shopTable th {
	padding: 10px 20px;
	border: 2px solid darkgrey;
	font-size: 16px;
}
#game {
	display: none;
	position: absolute;
	flex-direction: column;
	width: 1280px;
	height: 720px;
	border-radius: 5px;
	/*background-color: red;*/
}

#game iframe{
	width: 1280px;
	height: 720px;
}