<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.url">jdbc:postgresql://192.168.1.200:5432/hacktesttaskdb</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="connection.postgres" />
    <property name="connection.563453"/>
    <!-- DB schema will be updated if needed -->
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="entities/User.hbm.xml"/>
    <mapping resource="entities/GroupAuthorities.hbm.xml"/>
    <mapping resource="entities/GroupMembers.hbm.xml"/>
    <mapping resource="entities/Groups.hbm.xml"/>
    <mapping resource="entities/Promocodes.hbm.xml"/>
    <mapping resource="entities/Transactions.hbm.xml"/>





  </session-factory>
</hibernate-configuration>